<a href="https://colab.research.google.com/github/uday2101/Python/blob/main/Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#TypeCasting : Conversion of one data type to another.
float(2)

2.0

In [ ]:
int(2.0)

2

In [ ]:
#A string containing integer value can be converted to an integer. Whereas a string containing non-integer value will throw an error. 
int('1')

1

In [ ]:
#Conversion of float and integer to string
str(1)
str(2.23)

'2.23'

In [ ]:
#Casting a boolean data type to int or float will return 1 for true and 0 for false.
int(True)

1

In [ ]:
#Some Mathematical Operations
x = 43+12+5
x
type(x)

int

In [ ]:
total_min = 43+57+42
total_hour = total_min/60
total_hour

2.3666666666666667

In [ ]:
#Strings in Python : A sequence of characters contained within double or single quotes.
#It can be spaces or digits and even special characters
name = "Harvey Specter"
name
name[1] # getting a particular character by specifying the index.

#negative indexes can also be used , -1 corresponds to the last index
name[-2]

'e'

In [ ]:
#String can be bound to another variable. It is helpful to think of a string as a list or a tuple.
#String slicing 
name[0:6]

'Harvey'

In [ ]:
# A stride value can also be used as an input in the String
name[::2] #this operation outputs every second element in the string

'Hre pce'

In [ ]:
#Slicing can further be incorporated in this 
name[0:6:2] #this operation returns every second value beginning from index 0 till the index 6

'Hre'

In [ ]:
#len command for the length of the string
len(name)
len("Uday")

4

In [ ]:
#Concatenation of Strings
Statement = name+" is the best"
Statement

'Harvey Specter is the best'

In [ ]:
#Replicate values of a String 
3* name
#Value of String cannot be changed i.e strings are immutable but we can create a new string

'Harvey SpecterHarvey SpecterHarvey Specter'

In [ ]:
#Escape sequences in Strings
#\ are meant to proceed escape sequences
# escape sequences are strings that are difficult to input 
print("Harvey Specter is \nthe best") #\n represents a new line
print("Harvey Specter is \tthe best") #\t represents a tab
print("Harvey Specter is \\the best") #to insert a back slash

Harvey Specter is
the best
Harvey Specter is 	the best
Harvey Specter is \the best

In [ ]:
#String Methods : Two Types of Methods : Sequence Methods and String Methods.
#Sequence Methods are those which can be applied to Lists and Tuples as well
#String Methods are those which can be applied to strings only

A = "Thriller is the sixth studio album"
B = A.upper()
B = A.replace('Thriller','Gordon')
B
A.find('six')

16

In [1]:
x = input("Enter first number")
y = input("Enter the second number")
sum = int(x) + int(y)
print("Sum is : ", sum)

Enter first number 1
Enter the second number 243
Sum is :  244